{
 "presets": [  
  [
   "@babel/preset-env"   
  ]
 ],
 "plugins": [
    ["@babel/plugin-transform-runtime", {      
      "useESModules": true
    }],
    ["@babel/plugin-syntax-dynamic-import"],
    ["minify-simplify"]
  ]
}
